architecture: standalone # Changed this to replication in prod for HA
auth:
  enabled: true
  password: redis-password # secret in prod
image:
  registry: docker.io
  repository: bitnamilegacy/redis
  tag: 8.2.1-debian-12-r0
master:
  persistence:
    size: 1Gi
  resources:
    limits:
      cpu: 250m
      memory: 256Mi
metrics:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/redis-exporter
    tag: 1.76.0-debian-12-r0