architecture: standalone # Changed this to replication in prod for HA
auth:
  enabled: true
  password: redis-password # secret in prod
image:
  registry: docker.io
  repository: bitnami/redis
  tag: sha256-2e17cd143c4c4f14ac8f4515674d2e65d5d475701ea43549b51981afbaf36058
master:
  persistence:
    size: 1Gi
  resources:
    limits:
      cpu: 250m
      memory: 256Mi
metrics:
  enabled: true
  image:
    registry: docker.io
    repository: bitnami/redis-exporter
    tag: sha256-3adb54d7cbe145d1d837491afb8c68c2b575d9285e38909753115ef46ebc6971