architecture: standalone # Changed this to replication in prod for HA
auth:
  enabled: true
  password: redis-password # secret in prod
master:
  persistence:
    size: 1Gi
  resources:
    limits:
      cpu: 250m
      memory: 256Mi
metrics:
  enabled: true