apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
namespace: dev

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: bank-backend-service
      spec:
        replicas: 1
        template:
          spec:
            containers:
              - name: bank-bff
                resources:
                  requests:
                    cpu: 100m
                    memory: 128Mi
                env:
                  - name: SPRING_PROFILES_ACTIVE
                    value: dev
    target:
      kind: Deployment
      name: bank-backend-service